{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="row mt-5">
        <div class="col-3">Nom de la sortie:</div>
        <div class="col-3">{{sortie.nom}}</div>
         <div class="col-3">Campus:</div>
        <div class="col-3">{{sortie.camps}}</div>
    </div>


    <div class="row mt-3">
        <div class="col-3">Date et heure de sortie:</div>
        <div class="col-3">{{sortie.dateHeureDebut|date("d/m/Y à H:i")}}</div>
        <div class="col-3">Lieu:</div>
        <div class="col-3">{{sortie.lieux.nom}}</div>
    </div>


    <div class="row mt-3">
        <div class="col-3 ">Date limite inscription:</div>
        <div class="col-3">{{sortie.dateHeureDebut|date("d/m/Y")}}</div>
        <div class="col-3">Rue:</div>
        <div class="col-3">{{sortie.lieux.rue}}</div>
    </div>


    <div class="row mt-3">
        <div class="col-3">Nombre de places:</div>
        <div class="col-3">{{sortie.nbInscriptionMax}}</div>
        <div class="col-3">Code postal:</div>
        <div class="col-3">{{sortie.lieux.ville.codePostal}}</div>
    </div>


    <div class="row mt-3">
        <div class="col-3">Durée:</div>
        <div class="col-3">{{sortie.duree}}</div>
        <div class="col-3">Latitude:</div>
        <div class="col-3">{{sortie.lieux.latitude}}</div>
    </div>


    <div class="row mt-3">
        <div class="col-3">Description et infos:</div>
        <div class="col-3">{{sortie.infosSortie}}</div>
        <div class="col-4">Longitude:</div>
        <div class="col-4">{{sortie.lieux.longitude}}</div>
    </div>

</div>

    <div class="listParticipantContainer">
        <h3 class="mt-5">Liste des participants</h3>
        {% if sortie.participants| length == 0 %}
            <p class="mt-5">Il n'y a aucun participants !</p>
        {% else %}
            <table class ="listParticipant">

                <thead>
                <tr> <th class="p-3">Pseudo</th><th class="p-3">Nom</th></tr>

                {% for participant in sortie.participants %}
                    <tbody>
                        <tr class="ligneListParticipant">
                            <td class="p-3">  {{ participant.pseudo }} </td>
                            <td class="p-3"> {{ participant.prenom }} {{ participant.nom }}  </td>
                        </tr>
                    </tbody>


                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}



