<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        {# notre google font #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap" >
        {# le favicon #}
        <link rel="icon" href="">
        {% block stylesheets %}
            {# css bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            {# notre css #}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

    </head>
    <body>
    {# entête du site #}
    <header>
        <div class="container">
            <h1 class="header-logo">
                <a href="{{ path('index') }}" title="Go back to homepage">
                    <img src="{{ asset('img/ENIEcole.jpg') }}" alt="Tp Symfony">Sortir.com
                </a>
            </h1>
            <nav class="header-nav">
                <a href="{{ path('index') }}" title="lien vers l'accueil du site">Accueil</a>
                <a href="" title="liste des sorties">Liste des Sorties</a>
                <a href="{{ path('app_profil') }}" title="Mon profil">Mon Profil</a>
                <a href="{{ path('app_login') }}" title="Me connecter">Se connecter</a>
                <a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
                <a href="{{ path('sortie/creation') }}" title="lien temp">creer sortie</a>



            </nav>
        </div>
    </header>
    {# contenu principal de chaque page #}
    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>
    </body>
</html>
