{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-4">
                <h1>{{ participant.pseudo }}</h1>
                <div>{{ participant.nom }}</div>
                <div>{{ participant.prenom }}</div>
                <div>{{ participant.telephone }}</div>
                <div>{{ participant.email }}</div>
                <div>{{ participant.campu.nom }}</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

