{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="mt-2 text-center">
        {% if editMode %}
            Modifier la sortie
        {% else %}
            Bonjour! {{ app.user.pseudo}} Veuillez créer une sortie
        {% endif %}
        </h2>

    {{ form_start(sortieForm) }}

    <div class="container">
        <div class="row mt-5">
            <div class="col-2">{{ form_label(sortieForm.nom,'Nom de la sortie:') }}</div>
            <div class="col-4">{{ form_widget(sortieForm.nom) }}</div>
            <div class="col-2">Campus : </div>

            {% if editMode %}
                <div class="col-4">{{ app.user.campu }}</div>
            {% else %}
                <div class="col-4">{{ app.user.campu}} </div>
            {% endif %}

        </div>
        <div class="row mt-3">
            <div class="col-2">{{ form_label(sortieForm.dateHeureDebut,'Date et heure de la sortie:') }}</div>
            <div class="col-4">{{ form_widget(sortieForm.dateHeureDebut) }}</div>
            <div class="col-2">{{ form_label(sortieForm.ville,'ville', {'label_attr': {'class': 'label-afficheSortie:'}}) }}</div>
            <div class="col-4">{{ form_widget(sortieForm.ville) }}</div>
        </div>
        <div class="row mt-3">
            <div class="col-2">{{ form_label(sortieForm.dateLimiteInscription,"Date limite d'inscription:") }}</div>
            <div class="col-4">{{ form_widget(sortieForm.dateLimiteInscription) }}</div>
            <div class="col-2">{{ form_label(sortieForm.lieux,"Lieu:") }}</div>
            <div class="col-4">{{ form_widget(sortieForm.lieux) }}
                    <button id="btnAddLieu" type="button" class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">{{ form_label(sortieForm.nbInscriptionMax,"Nombre de places:") }}</div>
            <div class="col-4">{{ form_widget(sortieForm.nbInscriptionMax) }}</div>
            <div class="col-2">Rue : <br> Code Postal :</div>
            {% if editMode %}
            <div class="col-4">{{sortie.lieux.rue}} <br> {{sortie.lieux.ville.codePostal}}</div>
             {{sortie.lieux.ville.codePostal}}
            {% else %}
                <div class="col-4"></div>
            {% endif %}

        </div>
        <div class="row mt-3">
            <div class="col-2">{{ form_label(sortieForm.infosSortie,"Description et infos:") }}</div>
            <div class="col-4">{{ form_widget(sortieForm.infosSortie) }}</div>
            <div class="col-2">{{ form_label(sortieForm.duree,"Durée en mn:") }} </div>
            <div class="col-4">{{ form_widget(sortieForm.duree) }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">{{ form_label(sortieForm.etats,"Etats:") }}</div>
            <div class="col-4">{{ form_widget(sortieForm.etats) }}</div>
            <div class="col-2">{{ form_label(sortieForm.infosSortie,"Longitude:") }}</div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-2">
            <div class="col-6"></div>
            <div class="col-2">{{ form_label(sortieForm.infosSortie,"latitude:") }}</div>
            <div class="col-4"></div>
        </div>
            <div class="text-center">
                <button class="mt-5 btn btn-success btn-lg">
                    {% if editMode %}
                        Modifier
                    {% else %}
                        Nouvelle sortie
                    {% endif %}
                </button>
                <button class="mt-5 btn btn-info btn-lg">Publier sortie</button>
                {% if editMode %}
                    <button class="mt-5 btn btn-danger btn-lg">Supprimer la sortie</button>
                {% endif %}
                <button class="mt-5 btn btn-warning btn-lg">Annuler</button>
            </div>



    </div>


    {{ form_end(sortieForm) }}
{% endblock %}

{% block title %}
    Création d'une nouvelle sortie
{% endblock %}

